@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&family=Pacifico&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #06283D;
}

.titulo {
    color:#DFF6FF;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
}

.subtitulo {
    color: #DFF6FF;
    font-size: 22px;
    font-family: 'Fredoka One', cursive;
}

.titulo2 {
    color:#031c26;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    margin-block-start: 5px;
    margin-block-end: 8px;
}

.subtitulo2 {
    color:#031c26;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    margin-block: 2px;
}

#sectionSeleccionarMascota {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon {
    display: flex;
    width: 180px;
    height: 100px;
    padding: 7px;
    box-sizing: border-box;
    margin: 7px;
    border: 7px solid #47B5FF;
    border-radius: 20px;
    background: #256D85;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input:checked + label {
    background-color: #47B5FF;
}

input {
    display: none;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

#botonSeleccionarMascotas {
    color: #DFF6FF;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: orange;
    border: 2px solid orange;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
}

#sectionSeleccionarAtaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./pokemon-fondo.png");
    background-size: cover;
}


.boton-ataque {
    background: orange;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 7px;
    border: 8px solid orange;
    border-color: transparent;
    width: 100px;
    height: 55px;
    color: #DFF6FF;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;  
}

#sectionMensajes {
    display:flex;    
    background:#108397;
    width: 350px;
    height: 25px;
    padding: 10px;
    margin: 13px;
    border-radius: 7px;
    justify-content: center;    
    align-items: center;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;  
}

#botonReiniciar {
    border: none;
    color: black;
    margin: 7px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
}

#divGrid {
    display: grid;
    grid-template-columns: 10% 1% 100% 31% 20%;
    grid-template-rows: 50% 50%;  
}

#divJugador {
    grid-column-start: 2;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    justify-self: end;
}

#divEnemigo {
    grid-column-start: 4;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
} 
    
.vidas {
    margin: 10px;
    font-size: 50px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    background-color: aliceblue;
}

@media (max-width: 360px) {
    .tarjetas {
        flex-direction: column;
    }
  
    .titulo {
        color:#a8c0c9;
        font-family: 'Bree Serif', serif;
        font-size: 18px;
    }
    
    .subtitulo {
        color:#5794ac;
        font-family: 'Bree Serif', serif;
        font-size: 12px;
    }    
    #sectionSeleccionarMascota {
        height: -112vh;
    }

    .tarjeta-de-mokepon {
        width: 137px;
        height: 62px;
        padding: 6px;
        margin: 3px;
        border: 3px solid #47B5FF;
        border-radius: 5px;
        background: #256D85;
    }
    
    .tarjeta-de-mokepon img {
        width: 50px;
    }
          
    #botonSeleccionarMascotas {
        color: #DFF6FF;
        width: 109px;
        height: 35px;
        border-radius: 10px;
        background: orange;
        border: 2px solid orange;
        font-size: 13px;
        margin-top: 16px;
    }

    /* Layout PAG 2*/

    .boton-ataque {
        background: orange;
        border-radius: 36px;
        margin: 5px;
        width: 70px;
        height: 57px;
        color: #DFF6FF;
        font-size: 13px;
        font-family: 'Fredoka One', cursive;  
    }

    #sectionMensajes {
        background:#108397;
        width: 170px;
        height: 10px;
        padding: 20px;
        margin: 7px;
        border-radius: 7px;
        font-size: 10px;
        font-family: 'Fredoka One', cursive;  
    }

    .titulo2 {
        color:#031c26;
        font-family: 'Bree Serif', serif;
        font-size: 15px;
        margin-block-start: 25px;
        margin-block-end: 8px;
    }
    
    .subtitulo2 {
        color:#031c26;
        font-family: 'Bree Serif', serif;
        font-size: 13px;
        margin-block: 2px;
    }    
     
    h1,h2 {
        margin: 3px;
    }

    h3 {
        margin: 3px;
        font-size: small;
    }

    .botonesAtaques {
        flex-direction: column;
        align-items: center
    }

    #botonReiniciar {
        margin: 1px;
        height: 30px;
        width: 100px;
        font-size: 13px;
    }

    #divGrid {
        grid-template-columns: 60% 1% 25%;
        grid-template-rows: 25% 1% 25%;
    }

    #imagenJugador {
        width: 100px;
    }

    #imagenEnemiga {
        width: 100px;
    }
    
    #divJugador {
    font-size: x-small;
    grid-column: 1;
    grid-row:1;
    justify-self: start
    }

    #divEnemigo {
    font-size: x-small;
    grid-column: 3;
    grid-row:1;
    } 
    
    .vidas {
    margin: 3px;
    font-size: 30px;
    }

}
